@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
   --add-text-color: #636060;
   --text-light-color: #717171;
   --black-text-color: #010201;
   --main-body-color: #FFFFFF;
   --add-body-color: #f1eca7;
   --btn-color: #E06733;

}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'Ininka', serif;
   font-weight: 400;
   font-size: 1em;
   color: var(--black-text-color);
   background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.container {
   max-width: 75vw;
   margin: 0 auto;
   padding: 2% 10%;
}

.title {
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 2em;
   line-height: 2em;
   color: var(--black-text-color);
   border-bottom: 2px solid rgb(113, 113, 113, 0.3);
}

.accordeon {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding-top: 1em;
}

.accordeon__item {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-bottom: 2px solid rgb(113, 113, 113, 0.3);
   border-image: linear-gradient(to right, transparent, #6f8d9b, transparent) 1;
   /* box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25); */
   padding-bottom: 1em;
}

.accordeon__title {
   display: block;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 1.5em;
   line-height: 1.5em;
   color: var(--black-text-color);
   cursor: pointer;
}

.accordeon__input {
   appearance: none;
   --webkit-appearance: none;
   width: 0;
   height: 0;
}

.accordeon__body {
   align-self: center;
   display: none;
}

.accordion__body-content {
   transition: 0.5s;
}

.accordeon__input:checked+.accordeon__body {
   display: block;
   animation: shows 1s;
   transition: animation 1s ease-out;
}

.accordeon__img {
   display: block;
   width: 15vw;
   height: 30vh;
   object-fit: fill;
   border-radius: 1em;
}

@keyframes shows {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}