@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
   --add-text-color: #636060;
   --text-light-color: #717171;
   --black-text-color: #010201;
   --main-body-color: #FFFFFF;
   --add-body-color: #f1eca7;
   --btn-color: #E06733;

}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   overflow-y: scroll;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'Ininka', serif;
   font-weight: 400;
   font-size: 1em;
   color: var(--black-text-color);
   background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

label {
   color: var(--text-light-color);
}

.container {
   max-width: 85vw;
   margin: 0 auto;
   padding: 2% 10%;
}

.title {
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 2em;
   line-height: 2em;
   color: var(--black-text-color);
   border-bottom: 2px solid;
   border-image: linear-gradient(to right, transparent, #636060, transparent) 1;
}

.accordeon {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding-top: 1em;
   cursor: pointer;
   transition: 0.5s;
}

.accordeon__item {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-bottom: 2px solid;
   border-image: linear-gradient(to right, transparent, #6f8d9b, transparent) 1;
   padding-bottom: 1em;
}

.accordeon__title {
   display: flex;
   justify-content: space-between;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 1.5em;
   line-height: 1.5em;
   cursor: pointer;
}

.accordeon__icon {
   height: 0;
   width: 0;
}

.accordeon__input {
   appearance: none;
   --webkit-appearance: none;
   width: 0;
   height: 0;
}

.accordeon__body {
   align-self: center;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out;
}

.accordeon__img {
   display: block;
   max-width: 20vw;
   max-height: 35vh;
   object-fit: fill;
   border-radius: 1em;
}


/*Change accordeon appearance on hover*/

.accordeon:hover .accordeon__icon {
   width: 1em;
   height: 1em;
   transition: height 0.8s ease-out;
}

.accordeon:hover label {
   color: var(--black-text-color);
   transition: color 0.9s;
}

/*Showing mem on click*/

.accordeon__input:checked~.accordeon__body {
   max-height: 100vh;
}

.accordeon__input:checked~.accordeon__title .accordeon__icon {
   transform: rotate(45deg);
   transition: transform 0.4s;
}

/*Showing mem on hover*/

.accordeon__item:hover .accordeon__body {
   max-height: 100vh;
   scroll-behavior: smooth;
}

.accordeon__item:hover .accordeon__icon {
   transform: rotate(45deg);
   transition: 0.4s;
}

@media screen and (min-width: 1920px) {
   .container {
      max-width: 80vw;
   }
}

@media screen and (min-width: 1440px) {
   .container {
      max-width: 70vw;
   }
}

@media screen and (min-width: 820px) {
   .container {
      max-width: 65vw;
   }
}